<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col col-md-6">
        <h5 class="card-title">
          {{ 'Inventory::StockUnits' | abpLocalization }}
        </h5>
      </div>
    </div>
  </div>
  <div class="card-body">
    <ngx-datatable [rows]="stocks.items" [count]="stocks.totalCount" [list]="list" default>
      <ngx-datatable-column
        [name]="'::Actions' | abpLocalization"
        [maxWidth]="150"
        [sortable]="false"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div ngbDropdown container="body" class="d-inline-block">
            <button
              class="btn btn-primary btn-sm dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              ngbDropdownToggle
            >
              <i class="fa fa-cog me-1"></i>{{ '::Actions' | abpLocalization }}
            </button>
            <div ngbDropdownMenu>
              <button ngbDropdownItem (click)="showDetails(row.id)">
                {{ '::Details' | abpLocalization }}
              </button>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        [name]="'Inventory::Id' | abpLocalization"
        prop="id"
      ></ngx-datatable-column>
      <ngx-datatable-column
        [name]="'Inventory::DisplayName' | abpLocalization"
        prop="displayName"
      ></ngx-datatable-column>
      <ngx-datatable-column
        [name]="'Inventory::TotalQuantity' | abpLocalization"
        prop="totalQuantity"
      ></ngx-datatable-column>
      <ngx-datatable-column [name]="'::CreationTime' | abpLocalization" prop="creationTime">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.creationTime | date }}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
