<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col col-md-6">
        <h5 class="card-title">
          {{ 'PutAwayProcess::Orders' | abpLocalization }}
        </h5>
      </div>
    </div>
  </div>
  <div class="card-body">
    <ngx-datatable [rows]="orders.items" [count]="orders.totalCount" [list]="list" default>
      <ngx-datatable-column
        [name]="'Inventory::Id' | abpLocalization"
        prop="id"
      ></ngx-datatable-column>
      <ngx-datatable-column
        [name]="'Inventory::Status' | abpLocalization"
        prop="status"
      ></ngx-datatable-column>
      <ngx-datatable-column [name]="'::CreationTime' | abpLocalization" prop="creationTime">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.creationTime | date }}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
